@import "@/css/colors.css";

:root {
  --clock-size: 50rem;
}

@media (max-width: 700px) {
  :root {
    --clock-size: 35rem;
  }
}

@media (max-width: 450px) {
  :root {
    --clock-size: 30rem;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

html {
  font-size: 10px;
}

#app {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  font-family: "inter", sans-serif;
  background-image: linear-gradient(315deg, #485461, #28313b 74%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10rem;
  overflow: hidden;
  padding: 5rem;
}
